<a href="https://colab.research.google.com/github/nniewiadomski16/BTE320/blob/main/InClassAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Shape Area Calculator
r = 3 #radius of circle
h = 10 #height of cylinder
pi = 3.14
# Calculate cylinder surface area
Surface_Area = 2*pi*r**2 + 2*pi*r*h
# Display Result
print(Surface_Area)

244.92000000000002

In [ ]:
# Rock, Paper, Scissors (With While Loop)
import random
choice = input('Do you want to play a game? ')
while choice == 'Yes':
  p1= input('Choose rock, paper, or scissors: ')
  p2= random.choice(['rock', 'paper', 'scissors'])
  print(f'Computer chose {p2}. ')
  if p1 == p2:
    print('Drop')
  elif p1 == 'rock' and p2 == 'scissors':
    print('Player 1 wins')
  elif p1 == 'rock' and p2 == 'paper':
    print('Player 2 wins')
  elif p1 == 'paper' and p2 == 'rock':
    print('Player 1 wins')
  elif p1 == 'paper' and p2 == 'scissors':
    print('Player 2 wins')
  elif p1 == 'scissors' and p2 == 'paper':
    print('Player 1 wins')
  elif p1 == 'scissors' and p2 =='rock':
    print('Player 2 wins')
  choice = input('Do you want to play again? ')
print('Have a nice day!')

Do you want to play a game? Yes
Choose rock, paper, or scissors: rock
Computer chose scissors.
Player 1 wins
Do you want to play again? no
Have a nice day!

In [ ]:
# Numerical Calculator
n1 = float(input('Enter Number 1: '))
n2 = float(input('Enter Number 2: '))
symbol = input('Enter Numerical Operator (+, -, *, /, **): ')


if symbol == '+':
  print(n1 + n2)
elif symbol == '-':
  print(n1 - n2)
elif symbol == "*":
  print(n1 * n2)
elif symbol == '/':
  print(n1 / n2)
else:
  print(n1 ** n2)

Enter Number 1: 4
Enter Number 2: 6
Enter Numerical Operator (+, -, *, /, **): *
24.0

In [ ]:
# Parking Garage
flat_rate= 5
hourly_rate=2.5
for hour in range(1,9):
  charge = flat_rate + hourly_rate*hour
  if charge < 10:
    charge = 10.0
  elif charge > 20:
    charge = 20.0
  print(hour, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
# Movie Theater
for ad in range(0, 201, 25):
  additional = 2 * round(ad**0.5)
  profit = ((20 + additional) * 10) - (200 + ad)
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
#Months2Numbers Dictonary
months = {}


names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers= [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(names)):
  months[i+1]= names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
# Fee Calculation & Display Functions
def calcFee(hours, decimals=2):
  parking_fee= round(5 + 2.5 * hours, decimals)
  return parking_fee

def displayFee(fee):
  print(f'Parking Fee: ${fee}' )


hours_parked= int(input('Enter Number of Hours Parked: '))
f= calcFee(hours_parked)
displayFee(f)

Enter Number of Hours Parked: 4
Parking Fee: $15.0

In [ ]:
#Reverse Function (Recursion)
def reverse(s):
  if len(s)==1:
    return s
  else:
    return s[-1] + reverse(s[:-1])

reverse('Hello')

'olleH'

In [ ]:
#Student Class
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.__courses = []

  def enroll(self, course):
    if course not in self.__courses:
      self.__courses.append(course)
    else:
      print(f'You have already enrolled in course: {course}')

  def get_courses(self):
    return self.__courses

  def __str__(self):
    return f'Name: {self.name}'

In [ ]:
s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')

print(s1)

Name: James Bond

In [ ]:
s1.enroll('ABC123')
s1.enroll('ABC456')
s1.enroll('ABC789')
s1.get_courses()

['ABC123', 'ABC456', 'ABC789']

In [ ]:
s1.enroll('ABC123')

You have already enrolled in course: ABC123